header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    height: 120px;
}

.header-logo {
    align-self: flex-start;
    margin-top: 15px;
}

.header-logo img {
    width: 37px;
    height: 37px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 50px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


header nav a{
    text-decoration: none;
    color: var(--text-color-inverse);
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding-bottom: 5px;
}

header nav a:hover {
    border-bottom: 2px solid white;
    font-weight: bold;
}

header .header-lang-buttons a {
    color: var(--text-color-inverse);
    text-decoration: none;
    font-size: 13px;
}

header .header-lang-buttons a:first-child {
    font-weight: bold;
}

@media (max-width: 720px) {
    header {
        padding: 0 15px;
        height: 100px;
    }
    
    .header-logo {
        align-self: flex-start;
        margin-top: 10px;
    }
    
    .header-logo img {
        width: 37px;
        height: 37px;
    }
    
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0 10px;
        margin: 25px auto 0;
        gap: 10px;
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    header .nav-item {
        display: none;
    }
    
    header nav a{
        text-decoration: none;
        color: var(--text-color-inverse);
        font-size: 16px;
        letter-spacing: 1.5px;
        font-weight: 400;
        padding-bottom: 5px;
    }

    
    header .header-lang-buttons {
        display: none;
    }
}